# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Frontend/node_modules
/Code Executor/app/node_modules
/Code Executor/app/routes/code/
/.pnp
.pnp.js

# testing
/Frontend/coverage

# production
/Frontend/build

# misc
.DS_Store
.env

/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*
